[2015-08-17 23:28] aoozdemir opened #1 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension."
[code]

This is the error I get when I try to run `bundle install`. It seems like a common issue. I installed Qt libraries [(v5.5.0)](http://tver-soft.org/qt64), but it didn't work. Do you have a solution for this?

**External Links** *I've already checked these.*

[2015-08-18 00:52] bilts commented on #1
It looks like `qmake` (usually distributed with Qt) isn't in your `PATH`.

[2015-08-19 00:00] aoozdemir commented on #1
Yeah, I checked and did a clean install again for
* MinGW [Latest Release](http://sourceforge.net/projects/mingw/) and Qt [v4.8.5](https://download.qt.io/archive/qt/),

even though it says **Only versions with W32API 3.13 are supported** It worked for capybara-webkit.

However, this time I'm having an issue with `kgio library`. Now that i found out **the kgio gem only builds and runs on Unix like

[2015-08-19 00:00] #1 closed

[2015-08-19 00:14] bilts commented on #1
Sorry this isn't working for you. We all use Unix-like systems for development and have never tried running Earthdata Search on Windows. If you do have any luck, I'd be happy to hear about it.

For what it's worth, unicorn isn't a hard dependency for development. It should be just as easy to run on WEBrick or similar.

[2016-11-10 18:16] Brantron opened #300 "Should this project have open issues?"
I would assume other people would like to contribute to this project. Are there any issues which can be opened?

[2016-11-10 18:29] mreese84 commented on #300
@Brantron we currently use a separate system for issue tracking. If you would like to submit issues against Earthdata Search Client you can click the "feedback" button in the top right corner of the application to open a ticket for our dev team to consider.

We welcome contributions from the community though! Please consult our [contribution guidelines](https://github.com/nasa/earthdata-search/blo

[2016-11-24 03:40] axle07 commented on #300
I'd love to participate, but without a sense of the bugs that need addressing or features that would be useful, it's difficult to contribute.

[2017-01-06 19:31] mreese84 commented on #300
As mentioned above, we use a separate system for issue tracking. However, we have an effort underway to determine how to best manage issues within that system with our open sourced projects. We have a meeting set for later this month to kick that effort off.

[2017-01-06 19:31] #300 closed

[2018-10-01 21:26] lewismc opened #689 "Create a new portal for PO.DAAC"
Talking with @littleidiot40 I was talked through the creation of a new portal. This issue will provide the basis for creation of a new PO.DAAC portal which will reside at https://search.earthdata.nasa.gov/portal/podaac/search

PR coming up!

[2018-10-01 21:43] lewismc opened #690 "Issue installing pow on macOS Sierra 10.12.6"
Although issues installing [pow](http://pow.cx) should be reported elsewhere, I wanted to open an issue here seeing as it is listed as a prerequisite recommendation.

[2018-10-01 21:43] lewismc commented on #690
[code]

[2018-10-01 21:50] lewismc commented on #690
Apparently the successor to pow is puma-dev
https://github.com/puma/puma-dev
This is explained at https://github.com/basecamp/pow/issues/543

[2018-10-01 21:55] lewismc commented on #690
I will update the README with directions for using puma-dev instead.

[2018-10-01 22:13] lewismc commented on #689
Hi Folks, within the README it states
[code]
Line 37 is blank... what is line 37 referring to? Thanks

[2018-10-02 17:34] mreese84 commented on #689
Once your portal is up and running, you'll be able to point the portal to _any_ CMR environment with a URL parameter. For example, https://search.earthdata.nasa.gov/search?cmr_env=uat

[2018-10-03 01:36] lewismc commented on #689
@mgangl it should be mentioned here as well that we (PO.DAAC) are working with the EDSC team to ensure that the project is capable of accepting contributions. There are some timing constraints which @mreese84 and I discussed so we will be working to ensure that the correct work gets done at the correct time.
Thanks for chiming in.

[2018-12-27 22:18] mikeroyal opened #737 "Snap Package Support"
I was thinking the install and setup could be improved for Ubuntu and other Linux distros by having a [snap package](https://snapcraft.io/) version. If it's not a priority would you mind if I made the snap as a contribution?

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap template]

[2018-12-28 00:41] abbottry commented on #737
Hi @mikeroyal -- unfortunately this wouldn't make our priority list but you're more than welcome to contribute a PR, just please ensure to read through [CONTRIBUTING.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md).

[2019-01-07 18:53] lewismc opened #740 "Clarify order of commands in README"
The README states the following
[code]
I have an issue with this, if you just execute ```bin/setup```, you are WARNed that you should copy ```config/application.yml.example``` and ```config/database.yml.example``` to _formal_ files at ```config/application.yml``` and ```config/database.yml``` respectively. This means that once I do that, I then need to go back and configure the deployment however

[2019-01-07 19:02] lewismc opened #741 "README installation requires note regarding configuration of shared paths for Docker on OS X"
After configuring ```config/database.yml``` and ```config/application.yml``` and executing ```./bin/setup``` after a lot of std output I get the following...
[code]
This should definitely be noted within the README... possibly we could introduce an installation FAQ's section???

[2019-01-07 19:06] lewismc opened #742 "Note on file sharing for OS X"
After configuring ```config/database.yml``` and ```config/application.yml``` and executing ```./bin/setup``` after a lot of std output I get the following...
[code]
By default, Docker for Mac shares directories falling under ```/Users```, ```/Volumes```, ```/private``` and ```/tmp``` anything else needs to be explicitly configured within the Docker daemon. In my case the EDSC code resides within `

[2019-01-07 19:13] #741 closed

[2019-01-07 20:42] lewismc opened #743 "Error executing command docker-compose run web bundle exec rake db:setup"
## Environment
macOS High Sierra v10.13.6
Docker for Mac v2.0.0.0-mac81 (29211)

## Issue
The Docker build eventually fails for above environment as follows
[code]
I've been picking the docker-compose build apart and haven't yet found any solution.

[2019-01-08 15:22] macrouch commented on #740
I am **not** on board with adding `application.yml` and `database.yml` to the repo. Adding them introduces the possibility of leaking sensitive credentials on github.

`bin/setup` does give a warning it those files don't exist, but it creates them for you with a setup that works for local development. And even if you need to change the values for some reason, `bin/setup` is not required for new va

[2019-01-08 21:19] lewismc commented on #740
Thanks @mreese84 @macrouch for comments.

No-one has suggested adding either of those files. The point I was making is that the README should prompt a user to create and edit those files prior to executing ```./bin/setup```. Does that make sense?

This validates my initial comment. Why not prompt a user to edit them prior to attempting a set up rather than making an assumption that they know what

[2019-01-09 19:10] lewismc commented on #743
Is anyone else able to replicate this? This is blocking me building the actual deployment at the moment.

[2019-01-09 20:44] macrouch commented on #743
We never ran into this problem, the 2 commands in the readme were all we had to do to get running.

I assumed it was related to your other issue with file sharing on OS X. Have you tried moving your project to your user directory?

[2019-01-10 13:48] lewismc commented on #742
I've added the following. I'll update the README in a new PR.
https://github.com/nasa/earthdata-search/wiki/FAQ's

[2019-01-10 20:45] lewismc commented on #743
Thanks @macrouch I've documented this as https://github.com/nasa/earthdata-search/wiki/FAQ's#install-location-for-earthdata-search-on-os-x

[2019-01-10 20:45] #743 closed

[2019-01-11 17:20] lewismc commented on #740
PING

[2019-01-11 23:14] mreese84 commented on #740
@lewismc, I don't have good advise for you on the URS stuff. That's something I need to talk through with ESDIS and other EED folks. Once we have a clearer direction we can revisit the URS issue. I'm fine with the other stuff though.

[2019-03-13 03:10] lewismc commented on #689
Merged in https://github.com/nasa/earthdata-search/pull/746

[2019-03-13 03:10] #689 closed

[2019-03-13 03:10] #742 closed

[2019-10-03 15:59] mreese84 commented on #740
Closing this issue as we have a brand new readme with the new React app now merged into master.

[2019-10-03 15:59] #740 closed

[2019-10-09 00:34] #737 closed

[2020-10-01 15:58] mreese84 opened #1215 "EDSC-2523: Spatial restraints should zoom to center of viewable extent"
### Description
Entering spatial constraints currently zooms to the center of the entire EDSC window extent, not the current visible extent. The entire EDSC window includes space overlapping the map with the collections and facets panels.

With the default spacing of the collections and facet panels, a point is auto-zoomed/centered behind the collections panel. This may vary by browser/screen reso

[2020-10-01 16:19] mreese84 opened #1216 "EDSC-2419: Break up shapefiles that cross the antimeridian"
### Description
When dropping a shapefile that crosses the antimeridian onto EDSC, the polygon that gets drawn and sent to CMR be broken up into two parts, with each part being placed on the appropriate side of the map. The shapefile (shown in orange) should also follow this same behavior.

<img width="1792" alt="Screen Shot 2020-10-01 at 11 13 17 AM" src="https://user-images.githubusercontent.com

[2020-10-01 16:23] mreese84 opened #1217 "EDSC-2909: Create EDSCIcon component and implement react-icons"
### Description
Currently we use a font-awesome package from npm which imports Font Awesome as a font. To improve performance, we should replace this with an svg library like react-icons. We should create an Icon component which will dynamically import react-icons, allowing us to add/remove libraries as needed. The component should accept className, library, and icon as props. Initially, only the

[2020-10-01 16:27] mreese84 opened #1218 "EDSC-2673: Lazy load Leaflet"
### Description
In an effort to improve initial load times, we should lazy load Leaflet js. We want to be sure to do this in a way that does not degrade the UX of the initial application load.

### Acceptance Criteria
- Leaflet/map javascript is only loaded in pages that render the map (/search/*, /project)
- Once the map component is mounted/rendered, it should not be remounted

[2020-10-01 16:32] mreese84 opened #1219 "EDSC-2672: Lazy load Timeline component"
### Description
In an effort to improve initial load times, we should lazy load the Timeline component. We want to be sure to do this in a way that does not degrade the UX of the initial application load.

### Acceptance Criteria
- Timeline javascript is only loaded in pages that render the timeline (/search/granules, /project)

[2020-10-01 16:35] mreese84 opened #1220 "EDSC-2669: As a user, I would like to receive a confirmation that my preferences have been saved"
### Description
When updating preferences, surface a confirmation message to the user that their preferences have been saved or if a problem occurred.

### Acceptance Criteria
- Upon success, inform the user their preferences have been saved
- If an error occurs saving the preferences, inform the user that an error has occurred
  - If there is something the user can do to rectify the error, inform

[2020-10-01 16:54] mreese84 opened #1221 "EDSC-2910: Add keyboard shortcut to toggle granule filters"
### Description
Add keyboard shortcut to toggle granule filters when looking at granules. This should only be active when looking at /search/granules...

The `g` button should be used for this shortcut.

### Acceptance Criteria
- When on the granules page (/search/granules), hitting the `g` button on the keyboard toggles the granule filters panel active/inactive.
- When not on the granules page, h

[2020-10-01 16:55] mreese84 opened #1222 "EDSC-2911: Add keyboard shortcut to toggle advanced search modal"
### Description
Add keyboard shortcut to toggle advanced search when on a page that supports search (/search, /search/granules).

The `a` button should be used for this shortcut.

### Acceptance Criteria
- When on a search supported page (/search, /search/granules), hitting the `a` button on the keyboard toggles the advanced search modal active/inactive.
- When not on a search supported page (/sea

[2020-10-01 16:56] mreese84 opened #1223 "EDSC-2912: Add keyboard shortcut to focus on search bar"
### Description
Add keyboard shortcut to focus on the search bar input field when on a page that supports search (/search, /search/granules).

The `/` button should be used for this shortcut.

### Acceptance Criteria
- When on a search supported page (/search, /search/granules), hitting the `/` button on the keyboard focuses on the search input field.
- When not on a search supported page (/search

[2020-10-01 16:58] mreese84 opened #1224 "EDSC-2913: Add keyboard shortcut to show all supported keyboard shortcuts"
### Description
Add keyboard shortcut to toggle modal that displays all supported keyboard shortcuts. The `?` button should be used for this shortcut.

To make this list of shortcuts easier to maintain, a config file should be used that lists all of the keyboard shortcuts along with a short description of what each of the shortcuts do. Descriptions should be short and to-the-point.

**Currently su

[2020-10-01 17:07] mreese84 opened #1225 "EDSC-2914: Add keyboard shortcut to toggle the timeline"
### Description
Add keyboard shortcut to toggle timeline when on a page that displays the timeline (/search/granules, /projects).

The `t` button should be used for this shortcut.

### Acceptance Criteria
- When on the granules or project page (/search/granules, /projects), hitting the `t` button on the keyboard toggles the timeline active/inactive.
- When not on the granules or project page, hitt

[2020-10-01 17:19] mreese84 opened #1226 "EDSC-2898: Cannot remove filter from granule search box"
### Description
Cannot remove search from granule search box. Deleting text and hitting 'Enter' causes the page to reload with the text re-populated.

**Reproduction Steps**

1. Visit https://search.uat.earthdata.nasa.gov/search/granules?p=C447308-ORNL_DAAC&pg[0][gsk]=-start_date&tl=1585761296!4!!
2. Copy/paste "1860_1993_2050_NITROGEN.N-deposition2050.txt" into the granule search field
3. Observe

[2020-10-01 17:24] ManiacalBilby commented on #1226
Going to look into this.

[2020-10-01 17:36] adnansalik commented on #1225
Hey, can I work on this?

[2020-10-01 17:37] mreese84 opened #1227 "EDSC-2895: Direct download button not working for multi-file granules in list view"
### Description
Some collections consist of granules that are "multi-file" granules. In this case, clicking the "Download single granule data" button should display a dropdown of the available files to download. This is not working when a user is in the table view on the granules panel.

**Reproduction Steps**

1. Search for a collection that has multi-file granules and click on it to load granule

[2020-10-01 17:39] mreese84 commented on #1225
Go for it @adnansalik. There are a few keyboard shortcut issues that would be nice to all go in together if you're up for it.

[2020-10-01 17:49] aamay001 commented on #1220
Giving this a shot.

[2020-10-01 17:49] i-hardy commented on #1223
Hi, I'd like to take this!

[2020-10-01 17:50] adnansalik commented on #1225
Yes I noticed that, I will try to include all those issues. I'm really new to contributing so it might take a while but I'll keep you updated.

[2020-10-01 18:10] mreese84 commented on #1225
We have 1 keyboard shortcut already. That was [committed here](https://github.com/nasa/earthdata-search/commit/e58d0195f17441fca1e44ff9094368c3947464e3)

[2020-10-01 18:11] ilhan-mstf commented on #1222
Hi, I would like to work on this issue, can you assign me it?

[2020-10-01 18:21] mreese84 commented on #1223
Excellent. Go for it! Thank you for contributing.

[2020-10-01 18:26] sofiarivas commented on #1219
Hi @mreese84 I need to take a closer look at the codebase but I think this could be accomplished with `React.suspense` https://web.dev/code-splitting-suspense/

If this is the case I can work on this issue 🙂

[2020-10-01 18:29] aamay001 commented on #1220
@mreese84 I have my environment up and running. What I can't seem to find is where the User Preferences are. Can you point me in the right, direction?

[2020-10-01 18:45] mreese84 commented on #1220
You will need an Earthdata Login account so that you can log in. Preferences are only available to logged in users. You may set one up here: https://urs.earthdata.nasa.gov/

From there, just ensure that your dev environment is using the "prod" environment specified in static.config.json and you should be good to go.

[2020-10-01 18:47] mreese84 commented on #1220
I should clarify... Earthdata Login was formerly referred to as URS (User Registration System). So that's why the domain is urs.earthdata. EDL, Earthdata Login, and URS can all be used interchangeably.

[2020-10-01 18:47] trevorlang commented on #1219
@sofiarivas, thats correct! We have React lazy/suspense implemented in a few other places throughout the application if you would like some ([prior art](https://github.com/nasa/earthdata-search/blob/acd1679e927089dd1a5cb34fa0fee2ab1f40b3c5/static/src/js/components/AccessMethod/AccessMethod.js))

[2020-10-01 18:49] aamay001 commented on #1220
Thanks for the update, I'll try that out.

[2020-10-01 18:52] mreese84 commented on #1223
The commit for our first keyboard shortcut can be [found here](https://github.com/nasa/earthdata-search/commit/e58d0195f17441fca1e44ff9094368c3947464e3) (amongst a few other changes 😄 )

[2020-10-01 18:52] mreese84 commented on #1222
The commit for our first keyboard shortcut can be [found here](https://github.com/nasa/earthdata-search/commit/e58d0195f17441fca1e44ff9094368c3947464e3) (amongst a few other changes 😄 )

[2020-10-01 18:52] mreese84 commented on #1221
The commit for our first keyboard shortcut can be [found here](https://github.com/nasa/earthdata-search/commit/e58d0195f17441fca1e44ff9094368c3947464e3) (amongst a few other changes 😄 )

[2020-10-01 18:53] mreese84 commented on #1225
@adnansalik please note that there are several other people wanting to work the other keyboard shortcuts. So, please scope this commit to this one so we aren't stepping on toes.

[2020-10-01 18:59] trevorlang commented on #1220
@aamay001, A few thoughts as you start digging into this one.

We have thrown around the idea of using a Toast component ([example](https://github.com/jossmac/react-toast-notifications)) in order to display this, and in the future, similar notifications. We are not tied down to any specific library, but the previous example looks like a good possibility.

Because we have Redux implemented, it woul

[2020-10-01 19:07] aamay001 commented on #1220
@trevorlang I'm following where you're going with this. I've used toast before. I can create some actions to push some toast notifications.

[2020-10-01 19:51] mfayaq commented on #1224
Hi, I would like to take this up!

[2020-10-01 20:00] mreese84 commented on #1224
The commit for our first keyboard shortcut can be [found here](https://github.com/nasa/earthdata-search/commit/e58d0195f17441fca1e44ff9094368c3947464e3) (amongst a few other changes 😄 ). Also, note that there are a few other people tackling related tickets. We will consider consistency before accepting any PRs.

[2020-10-01 20:08] mfayaq commented on #1224
Yes, got your point. Already checked that feature on the live site. Just a question do you want other shortcuts as disabled when the modal for shortcuts is toggled or do you want them to work as expected?

[2020-10-01 20:11] mreese84 commented on #1224
Oh, good question. Yes, when the help modal is active, no other shortcuts should work. Following the Gmail paradigm helps here.

[2020-10-01 21:03] heykc commented on #1226
I can cover this issue! Setting up a draft PR in a few ✌️

[2020-10-01 21:05] mreese84 commented on #1226
Awesome! Thank you @heykc

[2020-10-01 21:33] mreese84 opened #1229 "EDSC-2515: Improve loading state for collection results"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
We should implement a nicer loading state similar to the ones elsewhere in the application. Either the pulsing 3 ellipses (like when viewing download history) or the pulsing content skeleton (like on granules panel) will work.

### Acceptance C

[2020-10-01 22:04] aamay001 commented on #1220
@trevorlang @mreese84

When I navigate to `http://localhost:8080/preferences`, I see that the route is nested under the `AuthRequiredContainer` which navigates to the local API `http://localhost:3001/lab/login`.

The local API `edlLogin` then redirects me to

`https://urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=URS_CLIENT_ID&redirect_uri=http%3A%2F%2Flocalhost%3A3001%2Flab%

[2020-10-02 00:12] mreese84 commented on #1220
@aamay001 you're coming across a stumbling block that we hadn't thought through. We obviously can't give you our production credentials, but you need them to log in. So, we are brainstorming some solutions to try to unblock you. Probably won't have anything ready this evening, but we are discussing and will reach back out tomorrow.

[2020-10-02 00:18] aamay001 commented on #1220
No worries. I realized this would require some intervention. I’ll keep an eye out for your response.

[2020-10-02 04:10] bensun13 commented on #1221
I can handle this issue. Will have PR up in a few!

[2020-10-02 15:55] mreese84 commented on #1225
Before submitting a PR, please make sure you have a test for the functionality you've added. A unit test was added for our existing keyboard shortcut with [this PR](https://github.com/nasa/earthdata-search/pull/1232). Thank you!

[2020-10-02 15:55] mreese84 commented on #1224
Before submitting a PR, please make sure you have a test for the functionality you've added. A unit test was added for our existing keyboard shortcut with [this PR](https://github.com/nasa/earthdata-search/pull/1232). Thank you!

[2020-10-02 15:55] mreese84 commented on #1222
Before submitting a PR, please make sure you have a test for the functionality you've added. A unit test was added for our existing keyboard shortcut with [this PR](https://github.com/nasa/earthdata-search/pull/1232). Thank you!

[2020-10-02 19:28] mreese84 commented on #1220
@aamay001 we've got a solution in place for you. I'm about to drop you an email to the email address on your Github profile (contact@andyamaya.com).

[2020-10-02 19:35] aamay001 commented on #1220
Awesome! Thanks, that works!

[2020-10-02 19:46] aamay001 commented on #1220
@mreese84 Just confirming that the provided solution is working. I am now able to access the preferences route.

[2020-10-02 20:07] saurabhdaware commented on #1227
Hi, I would like give it a try

[2020-10-02 20:16] mreese84 commented on #1227
Go for it! Good luck.

[2020-10-02 21:17] mfayaq commented on #1224
Yes, I will take care of that one. I have a few updates,
1. Almost finished up the implementation, just the unit tests are pending.
2. I will be introducing a new variable in the state for representing the modal state as open or closed. So, it will be required by other devs to incorporate that in their implementation. Will it be feasible or we can take an alternative approach here?

[2020-10-02 21:20] #1223 closed

[2020-10-03 14:06] suhay commented on #1217
Hey! Would like to grab this one.

[2020-10-03 14:45] saurabhdaware commented on #1227
Hi, I did the frontend setup locally and I can see collections but when I open them to load granules, I'm getting error.

Do I have to setup backend and database as well? Is there any way where I can paste sample data (for testing purpose)? Thank you.

[2020-10-03 14:58] abbottry commented on #1227
Good morning!

Thankfully, you do not need a database or any backend for this issue.

If you search for `NSIDC-0481` you'll see a couple of collections come up, here is a direct link to the first one: http://localhost:8080/search/granules?p=C1923703805-NSIDC_ECS&pg[0][gsk]=-start_date&q=NSIDC-0481&m=1.4210854715202004e-14!0!0!1!0!0%2C2&tl=1585925509!4!!

You can switch between the card view and ta

[2020-10-03 15:00] abbottry commented on #1226
Please make sure that you're running the tests (`npm run test` is the command, you can find other information in the readme) -- your PR has a failing test on some of the changes you made.

[2020-10-03 15:01] abbottry commented on #1217
Awesome, we're here if you have any questions!

[2020-10-03 15:37] saurabhdaware commented on #1227
I'm actually tried that but getting this error in it for some reason:
![image](https://user-images.githubusercontent.com/30949385/94995499-497f4480-05bc-11eb-9716-e86de467b5b3.png)

I did `npm install` and `npm start`

[2020-10-03 16:45] abbottry commented on #1227
That’s odd. Try starting serverless offline (instructions are in the readme) and see if that helps.

[2020-10-03 16:47] saurabhdaware commented on #1227
Ok yay I found a workaround. So clicking on timeline below brought some results but font awesome icons didn't load. So Injected fontawesome in console and I can see a the dropdown part and table view icons now.
![image](https://user-images.githubusercontent.com/30949385/94997038-06c26a00-05c6-11eb-8b95-973c5035d10f.png)

I think this is enough to get it working for now.

Yup I'll check this too an

[2020-10-03 16:55] saurabhdaware commented on #1227
`serverless offline` did solve the network errors but this error is still there and I still can't see the results directly.
![image](https://user-images.githubusercontent.com/30949385/94997153-05457180-05c7-11eb-88fb-ff2733b09091.png)

[2020-10-03 17:17] abbottry commented on #1227
Ah! I got it -- try now.

[2020-10-03 20:18] heykc commented on #1226
@abbottry apologies for not running the tests before pushing! I do have a question for you or anyone that would be able to answer. The test directly checks that props.onApplyGranuleFilters is called with `{ readableGranuleName: null }` however my change directly affects what we're sending to props.onApplyGranuleFilters (sending an empty array rather than null). Obviously I don't want to just chang

[2020-10-04 00:19] heykc commented on #1229
Hey Mark! You can assign this one to me as well. Going to go with the skeleton anim because
1) stays consistent with the particular panel and how granules' table and list layouts load, and;
2) seems more fun 😉

[2020-10-04 01:37] mreese84 commented on #1229
Ha! Go for it.

[2020-10-04 05:55] saurabhdaware commented on #1227
yay working now :D

[2020-10-04 23:51] mmayadag commented on #1218
Hi, I would like to work on this issue, could you assign me it?

[2020-10-04 23:55] mreese84 commented on #1218
Go for it!

[2020-10-05 05:34] ilhan-mstf commented on #1222
I have started development yesterday. I'll continue with unit tests today.

[2020-10-05 14:56] #1226 closed

[2020-10-05 18:17] #1222 closed

[2020-10-06 04:51] adnansalik commented on #1225
Hey, I think I won't be able to get around this issue because something really urgent came up and I won't get enough time to work on it so I'm sorry and anyone can take this issue as I won't be working on it anymore.

[2020-10-07 00:44] aamay001 commented on #1220
Submitted #1245 for this issue.

[2020-10-07 15:49] #1224 closed

[2020-10-07 15:51] #1221 closed

[2020-10-07 16:43] marisamorby commented on #1225
I would like to work on this issue!

[2020-10-08 13:44] #1219 closed

[2020-10-08 15:07] mreese84 commented on #1225
Go for it @marisamorby!

[2020-10-09 14:08] #1227 closed

[2020-10-09 16:28] imrishabh18 commented on #1216
Hey @mreese84 , I will like to contribute to this issue. Is this issue beginner friendly or Can you give me some guidance on how to resolve this issue?  This will make this Hacktoberfest really special. 😄

[2020-10-12 12:25] mmayadag commented on #1218
Hi @mreese84 ,
I used lazy react component with "Suspense" for "EdscMapContainer".( search page in static/src/js/App.js & static/src/js/routes/Project/Project.js )

Its improves initial app load times.
+ Nothing changed for map component still has same behaviour.
+ its renders once mounted

Could you give me feedback for it?
Do you want me to make another development?
Before i create tests, can we

[2020-10-13 14:53] abbottry commented on #1218
If you'd like feedback, please open a Pull Request with your changes. We're not able to chat but we can provide any necessary feedback via the PR.

[2020-10-13 14:55] abbottry commented on #1216
@imrishabh18 This is unlikely a beginner friendly issue unfortunately, and none of us have been able to triage this issue so we're not able to provide much guidance.

[2020-10-13 15:19] imrishabh18 commented on #1216
@abbottry Okay, I see. Will look out for some beginner friendly issue in the future then. Or when my skills improve to contribute 😄

[2020-10-13 23:52] marisamorby commented on #1225
Hi @mreese84! I realized while setting this up that it's a bit above my current ability. I got to the "you need to install postgres" step and realized I was really punching above my weight. 😬

I'm sorry, but I'm going to throw this issue back in the pond for someone who's able to complete it.

[2020-10-14 02:07] mreese84 commented on #1225
Gotcha @marisamorby, no worries.

[2020-10-14 19:15] #1220 closed

[2020-10-14 21:02] taismassaro commented on #1225
I'd like to give it a try on this over the weekend if that's ok :)

[2020-10-20 13:25] #1229 closed

[2020-10-23 20:24] mfayaq commented on #1225
Is this issue still open? Can I try? Or @taismassaro is on it?

[2020-10-26 17:34] mreese84 commented on #1225
@mfayaq it is still open. If you want to give it a go, please do. Also, please note that after the last round of shortcut tickets were worked we had to go in and ensure typing the various shortcut keys _while typing in an input field_ did not trigger that shortcut. We will be checking to ensure that doesn't happen with this as well.

[2020-10-26 18:25] taismassaro commented on #1225
sorry I was waiting on a response to get started. but I guess you can go ahead then, @mfayaq

[2020-10-31 15:40] mfayaq commented on #1225
Oh I kind of miss that one. I have checked in the new code. And followed the new implementation :)

[2020-10-31 15:41] mfayaq commented on #1225
No issues @taismassaro , maybe next time :)

[2020-11-16 17:32] #1225 closed

[2021-01-30 11:40] jalajcodes commented on #1218
If you folks are still interested in getting it resolved I'd like to work on it @abbottry @mreese84

[2021-04-15 14:24] mreese84 opened #1359 "Fix 508 compliance 'Empty button' findings"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description

/search | Empty button | Date/time filter button | <button aria-haspopup="true" aria-expanded="false" id="temporal-selection-dropdown" type="button" class="search-form_button search-form_button--dark dropdown-toggle btn btn-inline-block"><i cl

[2021-04-15 14:27] mreese84 opened #1360 "Fix 508 compliance 'Broken AIRA reference' finding"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description

/downloads | Broken ARIA reference | <div x-placement="bottom-end" aria-labelledby="" class="dropdown-menu" style="position: absolute; top: 0px; left: 0px; opacity: 0; pointer-events: none;">
-- | -- | --

### Acceptance Criteria
Fix 'Broken A

[2021-04-15 14:30] mreese84 opened #1361 "Fix 508 compliance 'Empty form label' findings"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description

Path | Finding | Location | Element
-- | -- | -- | --
/projects | Empty form label | Under email address box | <label class="form-label col-form-label col-sm-4 text-right"></label>
/projects | Empty form label | Under spatial subsetting (optio

[2021-04-15 14:34] mreese84 opened #1362 "Fix 508 compliance 'Empty heading' finding"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description

Path | Finding | Location | Element
-- | -- | -- | --
/downloads | Empty heading | Space above page content in light grey area | <h2 class="well__heading"></h2>

### Files
![image-2021-02-04-11-41-36-194](https://user-images.githubusercontent.

[2021-04-15 14:36] mreese84 opened #1363 "Fix 508 compliance 'Missing form label' findings"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description

Path | Finding | Location | Element
-- | -- | -- | --
/search | Missing form label | Main search bar | <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" class="search-form__input" name="keyword

[2021-04-15 14:39] mreese84 opened #1364 "Fix 508 compliance 'Multiple form label' finding"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description

Path | Finding | Location | Element
-- | -- | -- | --
/projects | Multiple form labels | Checkbox for 'Use Shapefile from Search' | <input class="form-check-input checkbox__input" disabled="" id="ICESAT2-use-shapefile" name="Use Shapefile from

[2021-04-15 15:59] mreese84 opened #1365 "Fix 508 compliance 'repetitive navigation links' findings from SortSite"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
Findings using SortSite. SortSite was run locally with Tophat removed and robots.txt allowing PowerMapper.

SortSite can be downloaded/accessed here: https://inside.nasa.gov/webservices/support/section-508-testing-sortsite

Many of the findings

[2021-04-15 16:01] mreese84 opened #1366 "Fix 508 compliance 'form control has no name' findings from SortSite"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
Findings using SortSite. SortSite was run locally with Tophat removed and robots.txt allowing PowerMapper.

SortSite can be downloaded/accessed here: https://inside.nasa.gov/webservices/support/section-508-testing-sortsite

All of these finding

[2021-04-15 16:03] mreese84 opened #1367 "Fix 508 compliance 'FIELDSET elements labeled with LEGEND elements' finding from SortSite"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
Findings using SortSite. SortSite was run locally with Tophat removed and robots.txt allowing PowerMapper.

SortSite can be downloaded/accessed here: https://inside.nasa.gov/webservices/support/section-508-testing-sortsite

Page | URL | Descrip

[2021-04-15 16:06] mreese84 opened #1368 "EDSC-3075 - Fix 508 compliance 'element must contain ALT attribute' finding from SortSite"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
Findings using SortSite. SortSite was run locally with Tophat removed and robots.txt allowing PowerMapper.

SortSite can be downloaded/accessed here: https://inside.nasa.gov/webservices/support/section-508-testing-sortsite

Page | URL | Descrip

[2021-06-29 02:40] sofiarivas commented on #1362
Hi @mreese84 I would be happy to help with 508 ticket 🙂  Can I work on this one? Should I add a validation so that the heading is not render when there is no text in it?

[2022-09-16 16:15] macrouch opened #1541 "EDSC-3484: Fix /contact_info url"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
The Contact Information route should use a hypen instead of an underscore to match our the other routes. ex: `search.earthdata.nasa.gov/contact-info`

### Acceptance Criteria

Contact information url is displayed as "/contact-info"

[2022-09-16 16:16] macrouch opened #1542 "EDSC-3300: Change "Search for collections or topics" placeholder in keyword search"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
The freetext placeholder on Earthdata Search says "Search for collections or topics", which confuses the issue. Even when you are using the Autosuggest, you are still not really searching for "topics", ultimately you are searching for data coll

[2022-09-16 16:17] macrouch opened #1543 "EDSC:3328: Rename 'Available from AWS Cloud' facet to 'Available in Earthdata Cloud'"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
The feature facet named "Available from AWS Cloud" should be renamed to "Available in Earthdata Cloud"

### Acceptance Criteria
Facet in EDSC is visible as 'Available in Earthdata Cloud'

[2022-09-16 16:19] macrouch opened #1544 "EDSC-3314: Display a disabled Explore button, when Smart Handoffs are not valid with the current parameters"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
When a smart handoff is not displayed do to invalid parameters, we should inform the user by disabling the button and adding a tooltip. Currently, the Explore button is hidden completely.

### Acceptance Criteria
Explore button is disabled and

[2022-09-16 16:24] macrouch opened #1545 "EDSC-3093: As a user, I'd like to sort collections by start date"
Please review [Contribution.md](https://github.com/nasa/earthdata-search/blob/master/CONTRIBUTING.md) before contributing to this project.

### Description
Earthdata Search currently has the ability to sort collections by end date, but not by start date. The sort key used for this should be `start_date`

### Acceptance Criteria
Collections can be sorted by start date.

[2022-09-16 16:26] #1217 closed

[2022-09-16 17:22] Vinitvh commented on #1543
Hi, Can I work on this?

[2022-09-16 17:33] Vinitvh commented on #1542
Hi, I would like to work on this.

[2022-09-16 17:36] macrouch commented on #1543
It's all yours!

[2022-09-16 17:38] macrouch commented on #1542
@Vinitvh for now just work on the other issue you commented on, I'm going to leave this one open if someone else comes around, since we only have a handful of new issues for Hacktoberfest

[2022-09-16 18:05] Nisarg-Chokshi commented on #1542
Hello @macrouch Can I work on this ?

[2022-09-16 18:25] macrouch commented on #1542
@Nisarg-Chokshi its all yours!

[2022-09-16 23:17] Jayaram18 commented on #1541
Hi @macrouch , I would like to work on this issue.

[2022-09-17 06:45] chiragkhatri19 commented on #1543
Hey, Can I work on it too ? @macrouch

[2022-09-17 06:48] chiragkhatri19 commented on #1541
Hello, Can I work on it ? @macrouch

[2022-09-17 06:51] chiragkhatri19 commented on #1542
Hey @macrouch  , I am getting started in open source and would like to be assigned this or any future issues. I appreciate any help you can give me.

[2022-09-19 12:11] macrouch commented on #1541
@Jayaram18 it's all yours

[2022-09-19 13:26] macrouch commented on #1542
@Nisarg-Chokshi I'm very sorry, I got a little too eager last week creating these issues. We want to handle this issue in a different way than we current have this issue written. I'm going to close for now

[2022-09-19 13:26] #1542 closed

[2022-09-20 08:01] krillinkills commented on #1545
Hi, I would like to work on this issue

[2022-10-03 12:37] macrouch commented on #1545
@krillinkills Sorry about the slow response, I missed this comment when you originally made it. feel free to work this issue

[2022-10-08 07:01] himanshu007-creator commented on #1544
Hey, i would like to work on this issue, kimdly assign me this one. Thanks